@model WebbLab3.Booking
@{

}
<h2>Book tickets to @Html.DisplayFor(model => model.Showing.Movie.MovieName) </h2>
<br />
@Html.DisplayFor(model => model.Showing.MovieDateTime)
<p><em>Max 12 tickets</em></p>
<br />
<form asp-action="Confirmation" asp-route-id="@Model.Id" asp-controller="Bookings">
    <input type="number" name="Tickets" value="1" />
    <input type="submit" value="Book" />
</form>
<div class="text-danger">@ViewData["TicketError"]</div>

