


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

header {
    display: flex;
    margin: 60px;
    justify-content: center;
}

#loginToggle {
    cursor: pointer;
}

.popup-form {
    padding: 5px;
    border: 2px black inset;
    display: inline-block;
}

    .popup-form label {
        width: 150px;
        display: inline-block;
    }

    .popup-form input {
        width: 200px;
    }

        .popup-form input[type=checkbox], .popup-form input[type=submit] {
            width: auto;
        }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
